<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">history</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Beginning of photography</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Started photography in Australia. <br>
                                      When I was in Sydney, one of my sharemates told me how nice photography is.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Portrait</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      It's really nice to have shooting my girlfriend, falimy, friend.
                                      They'll definetely be nice memories.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Nature</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I met a man in a park when I was shooting Sakura.
                                      He asked me the way to shoot Nature landscape. We started Nature photography somehow together. </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
