<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">history</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Beginning of photography</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Started photography in Australia. <br>
                                      When I was in Sydney, one of my sharemates showed me an awesome night view photography.
                                      I was really impressed with his works.
                                      I had checked all of camera shops to get a camera around one week.
                                      The first camera was Nikon D3100, now it becames my precious treasure:) </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Portrait</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      It's really nice to have shooting my girlfriend, falimy, friend.
                                      They'll definetely be nice memories.
                                      We can't go back to the past.
                                      In my case, I can't tell how cute my girlfriend was. How crazy my friends were.
                                      But one thing , I found I can maintain a thing.
                                      It's their picture.
                                      At least I have their image, the image can show what I want. Like forever.
                                      It's still not going back to the past, but the images remind me our conversation, their reaction, atmosphere, the hole precious time when I push the shutter button.
                                      I love having those kind of Portrait because those are only I can shoot.
                                    </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/about_3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019</h4>
                                    <h4 class="subheading">Nature</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I met a man in a park when I was shooting Sakura.
                                      I had his shot with his favorite bike in front of Sakura and gave it him.
                                      The man asked me to teach how to shoot with DSLR.
                                      He wanted to shoot landscape mainly, but I've not been interested in.
                                      To tell him it, I bought a wide-angle lens similar to his one.
                                      I had gradually been noticed one thing from him...
                                      Through wide-angle lens, my cameras had told me how nice the earth is. How beautiful the nature is.
                                      I started Nature photography. </p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
