<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">
                      <!-- Can serve: -->
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera-retro fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Photography</h4>
                    <p class="text-muted">
                      Photo shooting for Portrait.<br>
                      Publicity shot, trip, dating, wedding, etc.<br>
                      Shoot with: Nikon Z6II, 70-200/2.8, 17-35/2.8, 55/1.2, Speed lights 2x</br></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Music Videography</h4>
                    <p class="text-muted">
                      Music Video shooting for trip, dating, wedding, car, work, your treasure, any kinds of what you would have in a music video.<br>
                      Shoot with: Nikon Z6II, 55/1.2, 17-35/2.8
                    </p>
                </div>
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile Developer</h4>
                    <p class="text-muted">Also can work as a bug-fixer. Experienced plattform: iOS, Android, Linux Kernel.</p>
                </div> -->
            </div>
        </div>
    </section>
